target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Local environment ###
*.env
*.env.local

# AI Agents & IDE configs
.gemini/
.anthropic/
.cursor/
*.log

### Operating System ###
.DS_Store
Thumbs.db
